:root {
  --prymary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --prymary-white-color: #000000;
  --second-colr-text: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: roboto, sans-serif;
  color: var(--prymary-text-color);
  margin: 0;
}

/* ------------------------класы для сброса---------------------- */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-top: 0;
}
/* ------шапка сайта------ */
.header-container {
  display: flex;
  align-items: center;
  padding: 25px;
}

.header {
  margin: 0;
  border-bottom: 1px solid #ececec;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-logo {
  margin-right: 93px;
}

.header-item:not(:last-child),
.header-mail {
  margin-right: 50px;
}

.header-logo,
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.footer-logo {
  color: var(--second-colr-text);
}
.logo-title {
  color: var(--accent-color);
}

.header-link,
.header-mail,
.header-tel {
  font-weight: 500px;
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-link.active::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -33px;
  left: 0;
  border-radius: 2px;
}

.icon-mail,
.icon-tell {
  fill: var(--prymary-text-color);
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.active {
  color: var(--accent-color);
}

.header-link:hover,
.header-mail:hover .icon-mail,
.header-mail:hover,
.header-tel:hover .icon-tell,
.header-tel:hover,
.footer-mail:hover,
.footer-tel:hover,
.icon-mail:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-mail:focus,
.header-tel:focus,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-color);
}

.header-tel,
.header-mail {
  color: var(--prymary-text-color);
}

/* ------------------------preview----------------------------------*/
.preview {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/preview.jpg);
  padding: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview-text {
  margin: 0 auto;
  max-width: 700px;
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-colr-text);
}

.preview-btn {
  display: block;
  margin: 30px auto;
  height: 50px;
  min-width: 200px;

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-colr-text);
  background-color: var(--accent-color);
  border: none;
}

.preview-btn:hover,
.filtr-btn:hover,
.online-btn:hover {
  background-color: #118ce8;
  color: var(--second-colr-text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-property: color background-color filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.preview-btn:focus,
.filtr-btn:focus {
  background-color: #118ce8;
  color: var(--second-colr-text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ----------------стиль для страницы портфолио ----------------*/
.filtr {
  display: flex;
  margin-bottom: 54px;
  justify-content: center;
  text-align: center;
}
.position-portfoloio {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.portfolio {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-wrap {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.portfolio-text-overlay {
  position: absolute;
  color: var(--second-colr-text);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:hover .portfolio-text-overlay {
  transform: translate(0);
}

.portfolio:nth-child(3n) {
  margin-right: 0px;
}

.position-portfolio {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.filtr-btn {
  padding: 10px 22px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border: none;
}
.filtr-m:not(:last-child) {
  margin-right: 8px;
}
.proect-card {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-right: 2px;
}

.work,
.team-title,
.customers-title {
  margin-top: 0;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-name {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.position {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

/* -------------------особенности----------------- */

.benefits-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 33px;
  margin-right: 0;
  display: flex;
  border-radius: 4px;
}

.benefits-icon {
  margin: auto;
}

.info-section {
  display: none;
}

.benefits {
  display: flex;
}

.benefits-text:not(:last-child) {
  margin-right: 30px;
}
/* -------------------------work---------------------- */
.galery {
  display: flex;
  margin-top: 50px;
}
.img-work:not(:last-child) {
  margin-right: 30px;
}
.img-work {
  position: relative;
}

.text-work {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  align-items: center;
  justify-content: center;

  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-colr-text);
  line-height: 70px;
}
/* -----------------командв------------------- */

.team-section {
  background-color: #f5f4fa;
}

.team {
  display: flex;
}
.team-title {
  padding-bottom: 50px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin: 30px 0 10px 0;
}
.team-card {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.list-item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  /* margin-top: 20px; */
}

.social-list-item + .social-list-item {
  margin-left: 10px;
}

/* ------------------Клиенты------------------ */
.customers-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.customers-link {
  color: #afb1b8;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:focus,
.customers:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers + .customers {
  margin-left: 30px;
}

/* ------------------подавл сайта ---------------------------*/
.footer {
  background-color: #2f303a;
  padding: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-info {
  margin-bottom: 9px;
}

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.proect {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

.subscribe {
  display: flex;
  align-items: center;
}

.social-link-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.social-link-footer:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-footer {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.subscribe-box {
  margin-left: 70px;
  width: 50%;
}

.subscribe-title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transition: matrix(1, 0, 0, 1, -314.8, -185.2);
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform matrix(1, 0, 0, 1, -314.8, -185.2);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.form-input-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--prymary-text-color);
}

.modal-form-coment {
  height: 120px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.online {
  position: relative;
  right: 0;
  top: -12px;
}

.online-title {
  margin-bottom: 20px;
}

.contact-wrap {
  width: 50%;
}

.online-form {
  display: flex;
}

.online-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0);
  width: 358px;
  height: 50px;
  margin-right: 12px;
  outline: none;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--second-colr-text);
}

.online-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.online-input:focus {
  border-color: var(--accent-color);
}

.online-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-icon {
  margin-left: 10px;
}
